header.mhs-header {
	position: fixed;
	top: 0px;
	width: 100%;
	.site-branding {
		margin: 50px 0 0 50px;
		.mhs-logo {
			width: 120px;
			height: 120px;
			background-image: url("images/mhs-logo-white.svg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center center;
			a.mhs-home-link {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
	.mhs-primary-nav {
		position: fixed;
		right: 0px;
		top: 0px;
		height: 100vh;
		.mhs-primary-nav-line {
			position: absolute;
			right: 10px;
			margin: 4% 0;
			width: 1px;
			height: 92%;
			background: #fff;
			z-index: 1;
		}
	}
}