header.mhs-header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
	.site-branding {
		margin: 50px 0 0 50px;
		.mhs-logo {
			width: 120px;
			height: 120px;
			background-image: url("images/mhs-logo-white.svg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: left center;
			a.mhs-home-link {
				width: 100%;
				height: 100%;
				display: block;
			}
			&.mhs-dark {
				background-image: url("images/mhs-logo-black.svg");
			}
		}
	}
	.mhs-primary-nav {
		position: fixed;
		right: 0px;
		top: 0px;
		width: auto;
		float: none;
		height: 100vh;
		display: flex;
		align-items: center;
		z-index: 999;
		.mhs-primary-nav-line {
			position: absolute;
			right: 30px;
			margin: 6% 0;
			width: 1px;
			height: 88%;
			background: #fff;
			z-index: 1;
			transition-duration: 1s;
		}
		ul#primary-menu {
			padding-right: 25px;
			li {
				display: block;
				float: none;
				margin: 40px 0;
				padding-right: 22px;
				background-image: url("images/circle-white.svg");
				background-size: 11px 11px;
				background-position: right center;
				background-repeat: no-repeat;
				color: #fff;
				text-align: right;
				transition-duration: 0.66s;
				a {
					text-decoration: none;
					color: #fff;
					letter-spacing: 2px;
					text-transform: uppercase;
					font-size: 20px;
					display: inline-block;
					line-height: 20px;
					text-align: right;
					font-weight: 400;
					opacity: 0.25;
					outline: 0;
					transition-duration: 0.66s;
					&:focus {
						outline: 0;
					}
					&:hover {
						opacity: 1;
					}
				}
				&.active a {
					opacity: 1;
				}
			}
		}
		&.mhs-dark {
			.mhs-primary-nav-line {
				background: #000;
			}
			ul#primary-menu {
				li {
					color: #000;
					background-image: url("images/circle-black.svg");
					a {
						color: #000;
					}
				}
			}
		}
		a.menu-toggle {
			display: none;
			width: 40px;
			height: 40px;
			background: transparent;
			border: 0px;
			@include mobile {
				display: block;
			}
			.bar {
				width: 26px;
				height: 2px;
				background: #fff;
				&:nth-child(1){
					top: 8px;
					left: 7px;
				}
				&:nth-child(2){
					top: 19px;
					left: 7px;
				}
				&:nth-child(3){
					top: 30px;
					left: 7px;
				}
			}
		}
	}
}