header.mhs-header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
	.site-branding {
		margin: 50px 0 0 50px;
		.mhs-logo {
			width: 120px;
			height: 120px;
			background-image: url("images/mhs-logo-white.svg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: left center;
			a.mhs-home-link {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
	.mhs-primary-nav {
		position: fixed;
		right: 0px;
		top: 0px;
		width: auto;
		float: none;
		height: 100vh;
		display: flex;
		align-items: center;
		z-index: 999;
		.mhs-primary-nav-line {
			position: absolute;
			right: 30px;
			margin: 6% 0;
			width: 1px;
			height: 88%;
			background: #fff;
			z-index: 1;
		}
		ul.nav-menu {
			padding-right: 25px;
			li {
				display: block;
				float: none;
				margin: 40px 0;
				padding-right: 22px;
				background-image: url("images/circle-white.svg");
				background-size: 11px 11px;
				background-position: right center;
				background-repeat: no-repeat;
				color: #fff;
				text-align: right;
				a {
					text-decoration: none;
					color: #fff;
					letter-spacing: 2px;
					text-transform: uppercase;
					font-size: 20px;
					display: inline-block;
					line-height: 20px;
					text-align: right;
					font-weight: 400;
				}
			}
		}
	}
}